@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

.wrapper {
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-admin:checked:checked ~ .option-admin,
#option-user:checked:checked ~ .option-user {
  border-color: #0069d9;
  background: #0069d9;
}

#option-admin:checked:checked ~ .option-admin .dot,
#option-user:checked:checked ~ .option-user .dot {
  background: #fff;
}

#option-admin:checked:checked ~ .option-admin .dot::before,
#option-user:checked:checked ~ .option-user .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#option-admin:checked:checked ~ .option-admin span,
#option-user:checked:checked ~ .option-user span {
  color: #fff;
}
